
:root {
  --dark-blue: #161D29;
  --basic-blue: #293449;
  --basic-light-blue: #32425C;
  --basic-green: #63A63E;
  --basic-light-green: #5FBB2D;
  --basic-dark-green: #518534;
  --basic-red: #EE3643;
  --basic-red-button-hover: #CA2C37;
  --basic-red-button-focus: #BA2732;
  --basic-beige: #F9F5F0;
  --basic-beige-bg: #F1F5F7;
  --basic-white: #ffffff;
  --miidle-beige: #F7F3EC;
  --basic-grey: #C5C5C5;
  --special-yellow: #FFBF47;
  --light-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --light-green: #8ED78F;
  --basic-gold: #FFD180;
  --basic-black: #000000;
  --light-black: #161D29;
  --basic-dark-grey: #ffffff;
  --basic-transparent: #ffffff34;
  --basic-dark-transparent: #ffffff1c;
  --basic-light-orange-transperent: #b4b3b35e;
  --basic-button-buy-shadow: #367315;
  --basic-card-shadow: rgba(0, 0, 0, 0.15);
  --basic-logo-shadow: rgba(0, 0, 0, 0.25);
  --icon-background: #212A3A;
  --input-color-font: rgba(169, 169, 169, 1);
  }

  .page-body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .center {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .button-other {
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 192px;
    min-height: 38px;
    border: none;
  }

  .button-other:hover {
    background-color: var(--basic-red-button-hover);
  }

  .button-other:focus {
    background-color: var(--basic-red-button-focus);
  }

  .search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    height: 42px;
    flex-grow: 1;
    background-color: var(--basic-blue);
  }

  .search input::placeholder {
    color: var(--basic-white);
  }

  .search path {
   opacity: 0.3;
  }

  .search:hover path {
    fill: var(--basic-white);
    opacity: 1;
  }

  .search svg {
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 8px;
  }

  .search input {
    height: 42px;
    border: none;
    box-sizing: border-box;
    outline: none;
    width: 200px;
    background-color: transparent;
    flex-grow: 1;
  }

  .search input:focus + svg path {
    fill: var(--basic-red);
    opacity: 1;
  }


  .search input:focus + svg {
    background-color: var(--basic-white);
  }

  .search input:focus {
    background-color: var(--basic-white);
  }



  .bookmark::after {
    content: "";
    position: absolute;
    background-image: url("../image/icon-bookmark.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    left: 19px;
    top: 12px;
    opacity: 0.3;
  }

  .cart::after {
    content: "";
    position: absolute;
    background-image: url("../image/icon-cart.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    left: 19px;
    top: 12px;
    opacity: 0.3;
  }

  .bookmark:hover::after {
    opacity: 1;
  }

  .cart:hover::after {
    opacity: 1;
  }


  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    color: var(--basic-white);
    min-height: 42px;
  }


  .main-header-logo {
    min-width: 220px;
    height: 47px;
    padding-bottom: 0;
  }

  .click-icon-header {
    position: relative;
    text-decoration: none;
    height: 100%;
    min-width: 150px;
    padding: 9px;
    padding-left: 43px;
    padding-right: 24px;
    box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 9.32px;
  }

  .click-icon-header:active,
  .click-icon-header:focus {
    background-color: var(--light-black);
    color: var(--basic-grey);
  }

  .main-navigation a {
    color: var(--basic-white);
  }

  .place-an-order {
    background-color: var(--basic-green);
    color: var(--basic-white);
    border: none;
    text-decoration: none;
    width: 150px;
    height: 100%;
    padding-top: 9px;
    padding-bottom: 9.32px;
    padding-left: 19px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .place-an-order:hover {
    background-color: var(--basic-light-green);
  }

  .place-an-order:focus {
    color: var(--basic-grey);
  }

  .phrase {
    color: var(--basic-red);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    width: 200px;
    min-height: 71px;
    margin-left: 30px;
    margin-top: 37.5px;
    margin-bottom: 44.5px;
    white-space: pre;
    position: relative;
    flex-grow: 0.7;
  }

  .phone {
    color: var(--basic-red);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    min-width: 146px;
    min-height: 30px;
    border: 3px solid var(--basic-white);
    padding: 4px 47px 5px 71px;
    margin-left: 95px;
  }



  .head-button {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    border: none;
    margin-top: 41px;
    height: min-content;
    padding: 12px 24px;
  }

  .get-in {
    min-width: 49px;
    min-height: 21px;
    padding: 12px 27px 12px 45px ;
    margin-left: 60px;
    position: relative;
  }

  .get-in::after {
    content: "";
    position: absolute;
    background-image: url("../image/icon-login.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    left: 19px;
    top: 14px;
    opacity: 0.3;
  }


  .get-in:hover::after {
    opacity: 1;
  }

  .get-in:active::after {
    opacity: 0.3;
  }


  .head-button:hover {
    color: var(--basic-red);
  }

  .head-button:focus {
    color: var(--basic-grey);
  }

  .personal-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 186px;
    min-height: 21px;
    margin: 0;
    padding: 0;
  }

  .head-button-catalog {
    padding: 12px 56px;
    background-color: var(--basic-white);
    text-decoration: none;
    color: var(--basic-black);
  }

  .head-button-catalog:focus {
    color: var(--basic-grey);
  }

  .personal-button {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-light-blue);
  }

  .personal-button:hover {
    color: var(--basic-red);
  }

  .personal-button:focus {
    color: var(--basic-grey);
  }

  .navigation {
    min-width: 940px;
    min-height: 60px;
    margin-bottom: 60px;
  }

  .navigation ul {
    background-color: var(--basic-light-blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
  }

  .navigation .item {
    display: block;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 32px;
  }

  .navigation .item:hover {
    background-color: var(--light-black);
  }

  .navigation .item:focus {
    color: var(--basic-grey);
    background-color: var(--light-black);
  }


  .navigation a {
    color: var(--basic-white);
    text-decoration: none;
  }


  .cart-bg {
    background-color: var(--basic-red);
  }

  .materials {
    background-color: var(--special-yellow);
    list-style: none;
    min-width: 300px;
    min-height: 123px;
    position: relative;
  }

  .materials::after {
    content: "";
    position: absolute;
    background-image: url("../image/jar.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    right: 43px;
    top: 31px;
    opacity: 1;
  }

  .materials::before {
    content: "";
    position: absolute;
    background-image: url("../image/new.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    right: 0;
    top: 0;
    opacity: 1;
  }

  .instrumentals {
    background-color: var(--light-blue);
    list-style: none;
    min-width: 300px;
    min-height: 123px;
    position: relative;
  }

  .instrumentals::after {
    content: "";
    position: absolute;
    background-image: url("../image/drill.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 61px;
    right: 31px;
    top: 34px;
    opacity: 1;
  }

  .technics {
    background-color: var(--basic-pink);
    list-style: none;
    min-width: 300px;
    min-height: 123px;
    position: relative;
  }

  .technics::after {
    content: "";
    position: absolute;
    background-image: url("../image/track.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 62px;
    right: 31px;
    top: 31px;
    opacity: 1;
  }



  .sale {
    background-color: var(--light-green);
    list-style: none;
    min-width: 300px;
    min-height: 123px;
    grid-column: 3;
    grid-row: 2;
    position: relative;
  }

  .sale::after {
    content: "";
    position: absolute;
    background-image: url("../image/cartbig.svg");
    background-repeat: no-repeat;
    width: 59px;
    height: 72px;
    right: 45px;
    top: 26px;
    opacity: 1;
  }


  .delivery {
    background-color: var(--special-yellow);
    list-style: none;
    min-width: 300px;
    min-height: 123px;
    grid-column: 3;
    grid-row: 3;
    position: relative;
  }

  .delivery::after {
    content: "";
    position: absolute;
    background-image: url("../image/car.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 63px;
    right: 31px;
    top: 32px;
    opacity: 1;

  }



  .name-head {
    font-size: 24px;
    color: var(--basic-white);
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    padding-left: 23px;
    margin-bottom: 14px;
    margin-top: 20px;
  }

  .button {
    color: var(--basic-white);
    background: var(--basic-transparent);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    margin-left: 23px;
    padding: 0;
  }

  .button:hover {
    background: var(--basic-dark-transparent);
  }

  .button:focus {
    background: var(--basic-light-orange-transperent);
  }

  .name-slider {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
    color: var(--basic-white);
    text-transform: uppercase;
  }


  .popular {
    color: var(--basic-light-blue);
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 28px;
  }

  .main-catalog .popular {
    background-color: var(--basic-beige-bg);
  }

  .logo-manufacture {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    width: 940;
    min-height: 419px;
    grid-template-rows: min-content 145px 145px;
    margin-bottom: 70px;
  }

  .logo-manufacture li:first-child {
    background-color: var(--basic-beige);
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 89px;
  }

  .logo-manufacture .popular-goods-head {
    width: 367px;
    min-height: 30px;
    margin: 0;
  }


  .logo-manufacture .button-other {
    width: 192px;
    height: min-content;
    margin-right: 14px;
  }

  .logo-manufacture img:hover {
    box-shadow: 0 4px 4px 0 var(--basic-logo-shadow);
  }

  .logo-manufacture a:focus {
    opacity: 0.5;
    box-shadow: 0 4px 4px 0 var(--basic-logo-shadow);
  }

  .name-products {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
  }

  .old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-grey);
  }

  .name-service {
  display: block;
  color: var(--basic-light-blue);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  }

  .advantages ul:last-of-type {
  margin-top: 70px;
  }

  .phrase-advantages {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    width: 400px;
    min-height: 49px;
    grid-column: 1/-1;
    grid-row: 2;
    margin: 0;
    padding: 0;
  }

  .advantages .phrase-advantages  {
    display: block;
    margin-top: 25px;
    padding: 0;
    height: min-content;
  }

  .button-advantages-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
    width: min-content;
    min-height: min-content;
    grid-column: 1;
    grid-row: 3;
    position: relative;
  }

  .button-advantages {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    width: 240px;
    min-height: 61px;
    box-shadow: 0 4px 4px 0 var(--basic-logo-shadow);
    border-width: 1px;

  }

  .button-advantages::after {
    content: "";
    position: absolute;
    background-image: url("../image/shadow-for-button-avant.png");
    background-repeat: no-repeat;
    width: 10px;
    height: 279px;
    top: 0;
    left: 230px;
  }


  .button-advantages:hover {
    background-color: var(--basic-blue);
    border: none;
  }

  .button-advantages:focus {
    background-color: var(--basic-white);
    color: var(--basic-blue);
    border: none;
  }


  .head-advantages {
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    width: max-content;
    min-height: 30px;
    grid-column: 1/-1;
    grid-row: 1;
    margin-top: 67px;
    margin-bottom: 30px;
    min-width: 107px;
  }

  .step-filter a {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
    font-family: "PT Sans", Arial, sans-serif;
    margin-left: 42px;
    }

  .sort {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--miidle-beige);
    text-transform: uppercase;
    font-weight: 400;
    min-height: 38px;
    margin-top: 0;
  }

  .sort-name {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--miidle-beige);
    text-transform: uppercase;
    min-height: 38px;
    display: flex;
    align-items: center;
    margin: 0;
    width: 200px;
  }

  .filtr a {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-grey);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
  }

  .filtr {
    min-width: 700px;
    min-height: 38px;
    background-color: var(--miidle-beige);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/-1;
    grid-row: 3;
    padding: 0;
    margin: 0;
  }

  .filtr h2 {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  }

  .filtr li:first-child {
    flex-grow: 2;
    margin: 0;
    padding: 0;
  }

  .filtr li {
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  .filtr:hover {
    color: var(--basic-black);
    text-decoration: underline;
    text-decoration-color: var(--basic-red);
  }

  .filtr:focus {
    color: var(--basic-red);
  }

  .filter-head {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
  }

  .filter-names {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .price-range {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
  }

  .batton-show {
    background-color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .button-page {
    background-color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border-color: var(--basic-dark-transparent);
    min-width: 38px;
    min-height: 38px;
    margin-right: 10px;
  }

  .button-page:hover {
    border-color: var(--basic-grey);
  }

  .button-page:focus {
    border-color: var(--basic-red);
    background-color: var(--basic-red);
    color: var(--basic-white);
  }

  .button-page:active {
    border-color: var(--basic-red);
    background-color: var(--basic-white);
    color: var(--basic-black);
  }


  .main-footer {
    background-color: var(--basic-light-blue);
    margin-top: 0;
    padding-top: 0;
  }

  .footer-phrases {
    list-style: none;
    color: var(--basic-white);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 34px;
  }

  .footer-phone {
    display: block;
    list-style: none;
    color: var(--basic-white);
    text-decoration: none;
    margin: 0;
    margin-bottom: 54px;
  }

  .footer-phrases a {
    color: var(--basic-white);
    text-decoration: none;
  }

  .footer-word:hover {
    text-decoration: underline;
  }

  .footer-word:active {
    opacity: 0.3;
    text-decoration: none;
  }

  .footer-phrases-other {
    list-style: none;
  }

  .footer-phrases-other a {
    color: var(--basic-gold);
    text-decoration: none;
  }

  .footer-phrases-background  {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    font-weight: 400;
    background-color: var(--basic-blue);
  }

  .footer-address {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gold);
    text-decoration: none;
  }

  .footer-address:hover {
    text-decoration: underline;
  }

  .footer-address:focus {
    color: var(--basic-red);
  }

  .page {
    height: 100%;
  }

  .main-header {
    background-color: var(--basic-beige-bg);
    min-height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }


  .main-header-nav {
    background-color: var(--basic-blue);
    height: 42px;
  }

  .header-info {
    display: flex;
    flex-wrap: wrap;
    min-height: 75px;
  }

  .header-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 41px;
  }

  .address {
    display: block;
    min-width: 259px;
    height: 24px;
    align-self: flex-end;
    color: var(--basic-light-blue);
    font-size: 14px;
    font-style: normal;
    margin: 0;
    margin-right: 5px;
  }

  .main-content .button {
    width: 135px;
    min-height: 38px;
  }

  .head-button:last-child {
    margin: 41px 0 0 10px;
    width: 150px;
    min-height: 45px;
  }

  .main-content ul {
    margin-top: 59px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    width: 940px;
    margin: 59px auto;
    padding: 0 10px;
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .slide .button-other {
    min-width: 192px;
    min-height: 38px;
    margin-left: 24px;
    border: none;
  }

  .slide .button-other::after{
    content: "";
    position: absolute;
    background-color: var(--basic-red);
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    top: 220px;
    border: 2px solid var(--basic-white);
    left: 317px;
    border-radius: 50%;
  }

  .slide .button-other::before {
    content: "";
    position: absolute;
    background-color: var(--basic-white);
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    top: 220px;
    border: 2px solid var(--basic-white);
    left: 295px;
    border-radius: 50%;
  }

  .name-slider {
    min-width: 240px;
    min-height: 36px;
    margin-top: 23px;
    margin-bottom: 5px;
    margin-left: 24px;
    padding: 0;
  }

  .comments {
    width: inherit;
    min-height: 24px;
    margin-top: 0;
    margin-bottom: 113px;
    margin-left: 24px;
    padding: 0;
    font-style: normal;
    color: var(--basic-white);
  }

  .comments::after {
    content: "";
    position: absolute;
    background-image: url("../image/icon-right.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 40px;
    left: 578px;
    top: 122px;
  }

  .comments::before {
    content: "";
    position: absolute;
    background-image: url("../image/icon-right.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: 22px;
    height: 40px;
    top: 122px;
  }

  .slide-2 {
    background-image: url("../image/second-man-slider.jpg");
    min-width: 620px;
    min-height: 266px;
    margin: 0;
    padding: 0;
    display: none;
    grid-column: 1/2;
    grid-row: 2/4;
    background-repeat: no-repeat ;
  }

  .slide-1 {
    background-image: url("../image/first-man-slider.jpg");
    min-width: 620px;
    min-height: 266px;
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/4;
    background-repeat: no-repeat ;
  }


  .main-catalog {
    display: grid;
    grid-template-columns: 220px 220px 1fr;
  }


  .step-filter {
    margin-top: 21px;
    margin-bottom: 20px;
    grid-column: 1/-1;
    grid-row-start: 1;
    display: flex;
    flex-wrap: wrap;
  }


  .main-catalog .popular {
    grid-column: 1/-1;
    margin-top: 20px;
    grid-row-start: 2;
    width: 100%;
    min-height: 89px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }


  .filtr-colum {
    grid-column-start:1;
    margin-right: 20px;
    grid-row-start: 3/-1;
  }


  .popular-goods-catalog {
    display: grid;
    grid-template-columns: 720px;
    min-width: 720px;
  }

  .popular-goods-catalog h2 {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .popular-goods-catalog ul {
    margin: 0;
    padding: 0;
  }

  .popular-goods-catalog ul:last-of-type {
    grid-column: 1/-1;
    grid-row: 3;
    margin-top: 48px;
    margin-bottom: 59px;
  }

  .popular-goods-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 59px;
    margin-bottom: 70px;
  }

  .popular-goods-head {
    display: flex;
    flex-wrap: wrap;
    min-height: 89px;
    justify-content: space-between;
    background-color: var(--basic-beige);
    align-items: center;
    margin-bottom: 20px;
  }

  .popular-goods-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 59px;
  }

  .goods-cart {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 218px;
    min-height: 316px;
    border: 1px solid var(--basic-grey);
    position: relative;
  }


  .goods-cart:hover {
    box-shadow: 0 4px 20px 0 var(--basic-card-shadow);
    background-image: none;
  }

  .bfg-9000::after {
    position: absolute;
    content: "";
    background-image: url("../image/bfg-9000.png");
    background-repeat: no-repeat;
    width: 184px;
    height: 164px;
    margin: 0;
    padding: 0;
    top: 6px;
    left: 18px;
    z-index: 1;
  }

  .bfg-9000:hover::after {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
  }

  .bfg-3000::after {
    position: absolute;
    content: "";
    background-image: url("../image/bfg-3000.png");
    background-repeat: no-repeat;
    width: 127px;
    height: 112px;
    margin: 0;
    padding: 0;
    top: 29px;
    left: 40px;
    outline: 10px solid var(--basic-white);
  }

  .bfg-3000::before {
    position: absolute;
    content: "";
    background-image: url("../image/new.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    z-index: 2;
    top: 0;
    right: 0;
  }

  .bfg-3000:hover::after {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 10px;
    outline: none;
  }

  .bfg-6000::after {
    position: absolute;
    content: "";
    background-image: url("../image/bfg-6000.png");
    background-repeat: no-repeat;
    width: 144px;
    height: 128px;
    margin: 0;
    padding: 0;
    top: 29px;
    left: 40px;
  }

  .bfg-6000:hover::after {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
  }

  .bfg-2000::after {
    position: absolute;
    content: "";
    background-image: url("../image/bfg-2000.png");
    background-repeat: no-repeat;
    width: 127px;
    height: 112px;
    margin: 0;
    padding: 0;
    top: 29px;
    left: 40px;
    outline: 10px solid var(--basic-white);
  }

  .bfg-2000::before {
    position: absolute;
    content: "";
    background-image: url("../image/new.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    z-index: 2;
    top: 0;
    right: 0;
  }

  .bfg-2000:hover::after {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    outline: none;
  }

  .button-buy {
    background-color: var(--basic-green);
    color: var(--basic-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: none;
    margin: 0;
    margin-top: 38px;
    width: 135px;
    min-height: 18px;
    padding: 10px 12px 10px 25px;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 3px 0 0 var(--basic-button-buy-shadow);
  }

  .button-buy::before {
    position: absolute;
    content: "";
    background-image: url("../image/icon-cart.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 30px;
    opacity: 0.3;
  }

  .button-buy:hover {
    background-color: var(--basic-light-green);
  }

  .button-buy:focus {
    background-color: var(--basic-dark-green);
  }

  .button-bookmark {
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    color: var(--basic-light-blue);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 54px;
    width: 135px;
    min-height: 18px;
    padding: 8px 31px 6px 30px;
    text-transform: uppercase;
    }

  .button-bookmark:hover {
    border-color: var(--basic-light-blue);
  }

  .button-bookmark:focus {
    border-color: var(--basic-grey);
    color: var(--basic-grey);
  }

  .goods-cart p {
    margin-top: 6px;
    margin-bottom: 0;
  }

  .name-products {
    width: 157px;
    min-height: 41px;
    display: block;
    text-align: center;
    order: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    flex-shrink: 1;
  }

  .old-price {
    display: block;
    order: 2;
  }

  .price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
    order: 3;
    background-image: url("../image/red-button-bg.png");
    min-width: 65px;
    min-height: 18px;
    display: block;
    text-align: center;
    padding: 10px 44px 10px 32px;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 14px;
  }

  .goods-cart-button {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    min-height: 318px;
    border: 1px solid var(--basic-grey);
  }

  .goods-cart-wrapper {
    min-width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages-bg {
    margin: 0;
    background-color: var(--basic-beige-bg);
  }

  .advantages {
    width: 940px;
    min-height: 522px;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 100px 100px 1fr;
  }


  .advantages-bg-catalog {
    background-color: var(--basic-beige-bg);
    min-height: 261px;
  }

  .advantages-bg-catalog .phrase-advantages {
    min-width: 907px;
    min-height: 74px;
    margin-bottom: 68px;
  }


  .advantages-catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .advantages-catalog .head-advantages {
    margin: 0;
    padding: 0;
    margin-top: 63px;
    margin-bottom: 25px;
  }

  .advantages-catalog h2 {
    margin-top: 64px;
    margin-bottom: 25px;
  }


  .service-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 283px;
    grid-column-start: 2;
    grid-row-start: 3;
    margin-bottom: 0;
    position: relative;
  }

  .advantages ul:nth-of-type(2) {
    width: 100%;
  }

  .service-container .phrase-advantages {
    width: 331px;
    min-height: 122px;
    white-space: pre;
  }

  .name-service-delivery::after {
    content: "";
    position: absolute;
    background-image: url("../image/deliverycar.png");
    background-repeat: no-repeat;
    width: 465px;
    height: 285px;
    margin: 0;
    padding: 0;
    right: 0;
    top: 22px;
  }

  .name-service-guarantee::after {
    content: "";
    position: absolute;
    background-image: url("../image/medal.png");
    background-repeat: no-repeat;
    width: 389px;
    height: 283px;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
  }

  .name-service-debt::after {
    content: "";
    position: absolute;
    background-image: url("../image/debt-cash.png");
    background-repeat: no-repeat;
    width: 465px;
    height: 285px;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
  }

  .name-service-debt .button-other {
    width: 195px;
  }

  .name-service-guarantee,
  .name-service-debt {
    display: none;
  }


  .info-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 356px;
    margin-top: 70px;
    margin-bottom: 70px;
  }


  .info .head-advantages {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }

  .info .phrase-advantages {
    width: 460px;
    min-height: min-content;
    margin: 0;
    padding: 0;
  }

  .info p:last-of-type {
    margin-top: 25px;
    padding: 0;
  }

  .info li {
    padding-left: 37px;
    margin-bottom: 12px;
    position: relative;
  }

  .info li::before {
    content: "";
    position: absolute;
    background-color: var(--basic-red);
    width: 25px;
    height: 2px;
    left: 0;
    top: 12px;
  }

  .info li:last-child {
    margin-bottom: 0;
  }

  .info .button-other {
    width: 220px;
    min-height: 38px;
    border: none;
    margin: 0;
    padding: 0;
    align-self: center;
    margin-top: 20px;
  }

  .contacts {
    width: 310px;
    padding: 0;
    margin: 0;
  }

  .contacts .phrase-advantages {
    width: 180px;
    min-height: 49px;
    margin: 0;
    margin-bottom: 25px;
  }

  .contacts .head-advantages {
    margin: 0;
    margin-bottom: 24px;
  }

  .contacts .button-other {
    width: 300px;
    border: none;
    margin-top: 23px;
  }


  .footer-phrases-up {
    display: grid;
    grid-template-columns: 335px 1fr;
  }

  .column-up-1 .footer-phrases:first-of-type {
    width: 335px;
    margin: 0;
    margin-top: 15px;
  }

  .column-up-2 {
    margin-left: 58px;
  }

  .footer-phrases-other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 22px;
  }

  .footer-phrases-down {
    display: flex;
    flex-wrap: wrap;
    min-height: 105px;
    align-items: center;
  }

  .column-down-1 {
    width: 226px;
    height: min-content;
    margin-right: 161px;
  }

  .column-down-1 p {
    margin: 0;
    padding: 0;
  }

  .column-down-2 {
    min-width: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .social-icon-vk {
    width: 27px;
    height: 15px;
    background-color: var(--icon-background);
    padding: 14.94px 9.95px 15px 9px;
    border-radius: 50%;
    margin-right: 3px;
  }

  .social-icon-fb {
    width: 12px;
    height: 22px;
    background-color: var(--icon-background);
    padding: 11px 16px 11px 16px;;
    border-radius: 50%;
    margin-right: 3px;
  }

  .social-icon-inst {
    width: 21px;
    height: 21px;
    background-color: var(--icon-background);
    padding: 11px 12px 12px 11px;
    border-radius: 50%;
  }

  .social-icon-vk:hover,
  .social-icon-vk:active,
  .social-icon-fb:hover,
  .social-icon-fb:active,
  .social-icon-inst:hover,
  .social-icon-inst:active {
    background-color: var(--basic-red);
  }

  .column-down-3 {
    width: 137px;
    margin-right: 51px;
    margin-left: 118px;
  }

  .column-down-3 p {
    margin: 0;
    padding: 0;
  }

  .column-down-4 {
    width: 98px;
  }

    /**********        Всплывающее окно 1          ****************/


  .form-container {
    display: none;
    width: 620px;
    min-height: 430px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 7px solid var(--basic-red);
  }

  .form-container input::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--input-color-font);
    padding: 0;
    margin: 0;
    padding-left: 12px;
  }

  .form-container input {
  border: 2px solid var(--input-color-font);
  }

  .form {
    width: 620px;
    min-height: 430px;
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
    padding: 0;
    margin: 0;
  }

  .form input {
    box-sizing: border-box;
    width: 220px;
    min-height: 38px;
    grid-row: 1;

  }

  .form-name {
    display: block;
    margin-top: 21px;
    margin-left: 80px;
    margin-bottom: 11px;
  }

  .form p:nth-of-type(2) {
    margin-left: 0;
    margin-right: 80px;
  }

  .form p {
    margin-bottom: 0;
    height: min-content;
  }

  .form p:last-of-type {
    margin: 0;
    padding: 0;
    min-height: 114px;
  }

  .send textarea {
    box-sizing: border-box;
    grid-column: 1/-1;
    grid-row: 2;
    width: 460px;
    min-height: 114px;
    border: 2px solid var(--input-color-font);
    margin-left: 80px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--input-color-font);
    padding-left: 12px;
  }

  .send textarea:focus {
    color: var(--basic-black);
  }

  .send textarea:focus,
  .send textarea:active {
    border: 2px solid var(--input-color-font);
    outline: none;
  }
  .form .button-other {
    width: 460px;
    height: 38px;
    grid-row-start: 3;
    grid-column: 1/-1;
    margin: 0 80px;
  }

  .send {
    width: 620px;
    height: 114px;
  }

  .send label {
    display: block;
    margin-left: 80px;
    margin-bottom: 11px;
    grid-row-start: 2;
  }

/**********        Всплывающее окно 2         ****************/

  .form-container-catalog {
    display: none;
    width: 620px;
    min-height: 282.43px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 7px solid var(--basic-red);
  }

  .form-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-catalog h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    grid-column: 1/-1;
    grid-row: 1;
    margin: 0 auto;
  }

  .form-catalog button {
    width: 192px;
    min-height: 38px;
    grid-row: 2;
    margin: 0 auto;
  }


