:root {
  --dark-blue: #161D29;
  --basic-blue: #293449;
  --basic-light-blue: #32425C;
  --basic-green: #63A63E;
  --basic-light-green: #5FBB2D;
  --basic-dark-green: #518534;
  --basic-red: #EE3643;
  --basic-beige: #F9F5F0;
  --basic-beige-bg: #F1F5F7;
  --basic-white: #ffffff;
  --miidle-beige: #F7F3EC;
  --basic-grey: #C5C5C5;
  --special-yellow: #FFBF47;
  --light-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --light-green: #8ED78F;
  --basic-gold: #FFD180;
  --basic-black: #000000;
  --light-black: #161D29;
  --basic-dark-grey: #A9A9A9;
  --basic-transparent: #ffffff30;
  --basic-dark-transparent: #c5c5c530;
  --basic-light-orange-transperent: #0e0d0d30;
  }

  .page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

  }

  /* Header*/

  .search {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  }

  .main-navigation {
    background-color: var(--basic-blue);
    color: var(--basic-white);
  }

  .click-icon-header {
  text-decoration: none;
  }

  .click-icon-header:hover,
  .click-icon-header:focus {
    background-color: var(--light-black);
    color: var(--basic-grey);
  }

  .main-navigation a {
    color: var(--basic-white);
  }

  .place-an-order {
    background-color: var(--basic-green);
    color: var(--basic-white);
    height: 42px;
    border: none;
  }

  .place-an-order:hover {
    background-color: var(--basic-light-green);
  }

  .place-an-order:focus {
    color: var(--basic-grey);
  }

  .phrase {
    color: var(--basic-red);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
  }

  .phone {
    color: var(--basic-red);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
  }

  .address {
    color: var(--basic-light-blue);
    font-size: 14px;
    font-style: normal;
  }

  .head-button {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    border: none;
  }

  .head-button:hover {
    color: var(--basic-red);
  }

  .head-button:focus {
    color: var(--basic-grey);
  }

  .head-button-catalog {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    border: none;
    text-decoration: none;
  }

  .head-button-catalog:focus {
    color: var(--basic-grey);

  }

  .personal-button {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-light-blue);
  }

  .personal-button:hover {
  color: var(--basic-red);
  }

  .personal-button:focus {
    color: var(--basic-grey);
  }

  .navigation {
    background-color: var(--basic-light-blue);
    list-style: none;
  }

  .item:hover {
    background-color: var(--light-black);
  }

  .item:focus {
    color: var(--basic-grey);
    background-color: var(--light-black);
  }


  .navigation a {
  color: var(--basic-white);
  text-decoration: none;
  }

  /*Header-catalog*/
  .cart-bg {
    background-color: var(--basic-red);
  }



  /* main*/

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }



  .materials {
  background-color: var(--special-yellow);
  list-style: none;
  min-width: 300px;
  height: 123px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }

  .instrumentals {
    background-color: var(--light-blue);
    list-style: none;
    min-width: 300px;
    height: 123px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .technics {
    background-color: var(--basic-pink);
    list-style: none;
    min-width: 300px;
    height: 123px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }

  .sale {
    background-color: var(--light-green);
    list-style: none;
    min-width: 300px;
    height: 123px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
  }

  .delivery {
    background-color: var(--special-yellow);
    list-style: none;
    min-width: 300px;
    height: 123px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-column: 3;
    grid-row: 3;
  }

  .name-head {
  font-size: 24px;
  color: var(--basic-white);
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  }

  .button {
    color: var(--basic-white);
    background: var(--basic-transparent);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
  }

  .button:hover {
    background: var(--basic-dark-transparent);
  }

  .button:focus {
    background: var(--basic-light-orange-transperent);
  }

  .name-slider {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
    color: var(--basic-white);
    text-transform: uppercase;
  }

  .comments {
    font-style: normal;
    color: var(--basic-white);
  }

  .button-other {
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 192px;
    height: 38px;
  }

  .popular {
    color: var(--basic-light-blue);
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
  }

  .logo-manufacture {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px;
    gap: 20px;
    width: 940;
    min-height: 419px;
    margin-top: 20px;

  }

  .name-products {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
  }

  .old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-grey);
  }

  .price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--basic-red);
  }

  .button-buy {
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-align: center;
  font-weight: 400;
  }

  .button-bookmark {
    background-color: var(--basic-white);
    border-color: var(--basic-green);
    color: var(--basic-light-blue);
    font-weight: 400;
  }

  .button-buy:hover {
    background-color: var(--basic-light-green);
  }

  .button-bookmark:hover {
    border-color: var(--basic-light-blue);
  }

  .button-buy:focus {
    background-color: var(--basic-dark-green);
  }

  .button-bookmark:focus {
    border-color: var(--basic-grey);
    color: var(--basic-grey);
  }


  .name-servis {
  display: block;
  color: var(--basic-light-blue);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  }



  .prase-advantages {
    display: block;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    width: max-content;
    height: 49px;
    grid-column: 1/-1;
    grid-row: 2;
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
  }

  .servise-container .prase-advantages {
    width: 300px;
    height: 99px;

  }

  .button-advantages-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 279px;
    grid-column: 1;
    grid-row: 3;
    margin-right: 80px;
  }

  .button-advantages {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  width: 240px;
  height: 61px;
  }

  .button-advantages:hover {
    background-color: var(--basic-blue);
  }

  .button-advantages:focus {
    background-color: var(--basic-white);
    color: var(--basic-blue);
  }


  .head-advantages {
    display: block;
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    width: max-content;
    height: 30px;
    grid-column: 1/-1;
    grid-row: 1;
    margin-top: 64px;
    margin-bottom: 25px;
  }

  /*main-catalog*/

  .step-filter a {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
    font-family: "PT Sans", Arial, sans-serif;
    }

  .sort {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--miidle-beige);
  text-transform: uppercase;
  }



  .filtr a {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-grey);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
  }

  .filtr {
    background-color: var(--miidle-beige);
  }

  .filtr:hover {
  color: var(--basic-black);
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  }

  .filtr:focus {
    color: var(--basic-red);
    }

  .filter-head {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
  }

  .filter-names {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .price-range {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
  }

  .batton-show {
  background-color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  }

  .button-page {
  background-color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-color: var(--basic-dark-transparent);
  }

  .button-page:hover {
    border-color: var(--basic-grey);
  }

  .button-page:focus {
    border-color: var(--basic-red);
    background-color: var(--basic-red);
    color: var(--basic-white);
  }

  .button-page:active {
    border-color: var(--basic-red);
    background-color: var(--basic-white);
    color: var(--basic-black);
  }

  /*Footer*/
  .main-footer {
  background-color: var(--basic-light-blue);
  }

  .footer-phrases {
  list-style: none;
  color: var(--basic-white);
  text-decoration: none;
  }

  .footer-phrases a {
    color: var(--basic-white);
    text-decoration: none;
  }

  .footer-word:hover {
    text-decoration: underline;
  }

  .footer-phrases-other {
  list-style: none;
  }

  .footer-phrases-other a {
    color: var(--basic-gold);
    text-decoration: none;
  }

  .footer-phrases-background  {
    font-size: 16px;
    line-height: 18px;
   color: var(--basic-white);
   font-weight: 400;
   background-color: var(--basic-blue);

  }

  .footer-address {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gold);
    text-decoration: none;
    }

    .footer-address:hover {
      text-decoration: underline;
    }

    .footer-address:focus {
      color: var(--basic-red);
    }


    /* Grid Header*/

    .page {
      height: 100%;
    }

    .page-body {
      min-height: 100%;
      display: grid;
      grid-template-rows: min-content 1fr min-content;
      align-content: start;

      margin: 0 auto;
    }

    .center {
      margin: 0 auto;
      width: 940px;
      padding: 0 10px;
    }

    .main-header {
      display:grid;
      justify-content: stretch;
      background-color: var(--basic-beige-bg);
    }

    .main-header-nav {
      background-color: var(--basic-blue);

    }

    .main-header-nav input{
      margin: 9px 0;
      margin-left: 17px;
     }


     .main-header-nav label{
      margin-left: 17px;
     }
     .main-header-nav label img{
      margin-right: 8px;
     }

    .main-navigation {
      display: flex;
      justify-content: space-between;
      height: 42px;
    }

    .click-icon-header img{
      margin-right: 9px;
    }

    .click-icon-header {
      height: 24px;
      margin: 9px 0;
    }

    .header-info {
      display: flex;
      justify-content: space-between;
      height: 75px;
      margin-bottom: 40px;
      margin-top: 38px;
    }

    .phrase {
      width: 200px;
      min-height: 91px;

    }

    .phone {
      width: 270px;
      height: 45px;
      border: 3px solid var(--basic-white);
      justify-self: center;
    }

    .header-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 38px;
    }


    .address {
      display: block;
      min-width: 259px;
      height: 24px;
      align-self: flex-end;
    }

    .head-button {
      width: 121px;
      height: 45px;
      margin: 41px 0 0 69px;
    }

    .main-content .button {
      width: 135px;
      height: 38px;
    }

    .head-button:last-child {
      margin: 41px 0 0 10px;
      width: 150px;
      height: 45px;
    }



    .navigation {
      display: flex;
      justify-content: space-around;
      height: 60px;
      margin-top: 40px;
      margin-bottom: 60px;
      padding: 0;
    }

    .navigation .item {
      display: block;
      margin-top: 16px;
      margin-bottom: 20px;

    }


     /* Grid Main*/

     .main-content {
      margin-top: 59px;
      display: grid;
      grid-template-columns: 300px 300px 300px;
      outline: 1px solid black;
      padding: 0;
      gap: 20px;

     }



      .slide-2 {
        background-image: url('../image/second-man-slider.jpg');
        min-width: 620px;
        min-height: 266px;
        margin: 0;
        padding: 0;
        display: none;
        grid-column: 1/2;
        grid-row: 2/4;
      }

      .slide-1 {
        background-image: url('../image/first-man-slider.jpg');
        min-width: 620px;
        height: 266px;
        margin: 0;
        padding: 0;
        grid-column: 1/2;
        grid-row: 2/4;
      }

      .arrow {
        width: 22px;
        height: 40px;
        box-sizing: inherit;
        margin: 0;
        padding: 0;
      }

      .name-slider {
        min-width: 240px;
        height: 36px;
        margin: 0;
        padding: 0;
      }

      .comments {
        width: inherit;
        height: 24px;
        margin: 0;
        padding: 0;
      }

     .main-catalog {
       display: grid;
      grid-template-columns: 220px 1fr;
      margin-top: 21px;
     }

     .step-filter {
       grid-column: 1/-1;
       grid-row-start: 1;

     }

     .main-catalog .popular {
      grid-column: 1/-1;
      margin-top: 20px;
      grid-row-start: 2;
    }

     .filtr {
      grid-column-start:2;
      margin-top: 20px;
      margin-left: 20px;

      grid-row-start: 3;
     }

     .filtr-colum {
      grid-column-start:1;
      margin-top: 20px;
      margin-right: 20px;
      grid-row-start: 3;

     }

     .popular-goods {
       grid-column: 2;
       margin-top: 28px;
       grid-row-start: 3;
     }


     .popular-goods-head {
      display: flex;
      width:940px;
      height: 89px;
      justify-content: space-between;
      background-color: var(--basic-beige);
      margin-top: 59px;
      align-items: center;
     }


     .goods-cart-img {
       display:flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       width: 220px;
       min-height: 318px;
       border: 1px solid var(--basic-grey);
     }


    .goods-cart-button {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 220px;
      min-height: 318px;
      border: 1px solid var(--basic-grey);
      display: none;
    }

    .goods-cart-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
    }

     .advantages-bg {
      background-color: var(--basic-beige-bg);
     }

     .advantages {
       width: 940px;
       height: 522px;
       display: grid;
       grid-template-columns: 320px 1fr;
       grid-template-rows: 100px 100px 1fr;
     }

     .servise-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 619px;
      height: 283px;
      grid-column-start: 2;
      grid-row-start: 3;
      margin-bottom: 0;
     }

     .servise-container img {
     margin-left: -150px;
     margin-top: 50px;
     margin-bottom: 0;
    }


     .name-servis-guarantee,
     .name-servis-debt {
       display: none;
     }


     .info-contacts {
       display: flex;
       justify-content: space-between;
       min-height: 356px;
       margin-top: 70px;
       margin-bottom: 70px;
       padding: 0;
     }

     .info .prase-advantages {
       width: 460px;
     }

     .info p:nth-child(2) {
      margin-bottom: 38px;
     }

     .info p:nth-child(3) {
     margin-bottom: 1px;
    }

    .delivery-list {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 12px;
    }
    .delivery-list img {
     margin-right: 12px;
    }

    .delivery-list:last-child {
      margin-bottom: 20px;
    }

     .contacts {
     width: 310px;
     height: 356px;
     padding: 0;
     margin-right: 0;
    }

    .contacts .button-other {
      width: 300px;
    }

     .form {
       display: none;
     }

     /*Grid footer*/



     .footer-phrases-up {
       display: flex;
       justify-content: space-between;
     }

     .column-up-1 p {
     margin-right: 58px;
     }


     .footer-phrases{
       display: flex;
       justify-content: space-between;
       margin-top: 37px;
       margin-bottom: 34px;
    }


     .footer-phrases-other {
      display: flex;
      justify-content: flex-end;
     }

     .footer-phrases-other .footer-word {
       margin-left: 58px;
     }


     .footer-phrases-down {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       min-height: 105px;
       align-items: center;
     }



     .column-down-2 {
       width: 200px;
       display: flex;
     }

