
:root {
--dark-blue: #161D29;
--basic-blue: #293449;
--basic-light-blue: #32425C;
--basic-green: #63A63E;
--basic-light-green: #5FBB2D;
--basic-dark-green: #518534;
--basic-red: #EE3643;
--basic-beige: #F9F5F0;
--basic-beige-bg: #F1F5F7;
--basic-white: #ffffff;
--miidle-beige: #F7F3EC;
--basic-grey: #C5C5C5;
--special-yellow: #FFBF47;
--light-blue: #3BBCE3;
--basic-pink: #DC91D8;
--light-green: #8ED78F;
--basic-gold: #FFD180;
--basic-black: #000000;
--light-black: #161D29;
--basic-dark-grey: #A9A9A9;
--basic-transparent: #ffffff30;
--basic-dark-transparent: #c5c5c530;
--basic-light-orange-transperent: #0e0d0d30;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

}


/*Footer*/
.main-footer {
background-color: var(--basic-light-blue);
}

.footer-phrases {
list-style: none;
color: var(--basic-white);
text-decoration: none;
}

.footer-phrases a {
  color: var(--basic-white);
  text-decoration: none;
}

.footer-word:hover {
  text-decoration: underline;
}

.footer-phrases-other {
list-style: none;
}

.footer-phrases-other a {
  color: var(--basic-gold);
  text-decoration: none;
}

.footer-phrases-down {
  font-size: 16px;
  line-height: 18px;
 color: var(--basic-white);
 font-weight: 400;
 background-color: var(--basic-blue);
}

.footer-address {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gold);
  text-decoration: none;
  }

  .footer-address:hover {
    text-decoration: underline;
  }

  .footer-address:focus {
    color: var(--basic-red);
  }


